@font-face {
  font-family: "adelle-sans";
  src: url("../fonts/adelle-sans.woff") format("woff");
  src: url("../fonts/adelle-sans.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "space-grotesk";
  src: url("../fonts/Space\ Grotesk\ SemiBold.woff2") format("woff2"),
    url("../fonts/Space\ Grotesk\ SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "space-grotesk";
  src: url("../fonts/Space\ Grotesk\ Medium.woff2") format("woff2"),
    url("../fonts/Space\ Grotesk\ Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

:root {
  --dark-green-text: #12322a;
  --black: hsl(0, 0%, 0%);
  --green: hsl(120, 100%, 25%);
  --hover-blue: #d9ede5;
  --white: hsl(0, 0%, 100%);
  --gray-white: #ffffff80;
  --subtitle-light-blue: #7fc3a9;
  --background-dark-green: #14342c;
  --background-light-green: #008755;
  --bottom-orange: hsla(16, 100%, 61%, 0.5);
  --bottom-blue: #74bb9f;
  --information-orange: #ff6c37;
  --dark-blue: #13322b;
  --arrow-background-green: #008754;
}
body {
  font-family: "adelle-sans";
}
h1 {
  font-family: "space-grotesk";
  font-size: 2.5rem;
}

h1,
h2 {
  color: var(--dark-green-text);
}

nav {
  padding: 1rem;
  margin: 1rem;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1rem 0;
}

.header__nav ul {
  display: none;
  flex-direction: row;
  padding: 0;
}

@media (min-width: 75.4375rem) {
  .header__nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}

.header__text {
  padding-left: 0.1875rem;
}
.header__contact {
  display: flex;
}
.icoon-vink {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  padding-right: 2rem;
}

.icoon-vink li {
  display: flex;
}
.icoon-vink p {
  padding-left: 0.2rem;
}
.header__contact ul {
  display: flex;
  list-style: none;
}
.header__link {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.header__link a {
  padding-left: 0.2rem;
  color: var(--black);
}
.header__link:first-child {
  padding-right: 3.5rem;
}
@media (min-width: 70rem) {
  .bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bottom-nav ul a {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  border: 0.0625rem solid;
  height: 2.625rem;
  width: 9.5rem;
  color: var(--green);
  align-items: center;
  font-size: 1rem;
}

@media (min-width: 40rem) {
  .bottom-nav ul a {
    width: 9.5rem;
  }
}

.header-logo {
  width: 50%;
}

.general__link:hover,
.button-contact:hover {
  background: var(--hover-blue);
}

@media (min-width: 70rem) {
  .general__link:hover,
  .button-contact:hover {
    background: none;
  }
}

@media (min-width: 70rem) {
  .bottom-nav ul a {
    border: none;
  }
}

@media (min-width: 70rem) {
  .button-contact a {
    background-color: var(--information-orange);
    padding: 0.9375rem 0.25rem;
    color: var(--white);
    border: none;
  }
  .button-contact a:hover {
    opacity: 88%;
  }
}

@media (min-width: 70rem) {
  .bottom-nav__link li a {
    color: var(--black);
    font-weight: bold;
    font-family: "space-grotesk";
  }
  .bottom-nav__link li :hover {
    color: var(--green);
  }
  .bottom-nav__link li a span {
    color: var(--white);
    font-weight: bolder;
  }

  .bottom-nav__link li a span:hover {
    color: white;
  }
}

.bottom-nav__link {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

@media (min-width: 40rem) {
  .bottom-nav__link {
    flex-wrap: nowrap;
  }
}

.bottom-nav__link li {
  display: flex;
  align-items: center;
}

@media (min-width: 70rem) {
  .bottom-nav__link li {
    margin: 0 1rem;
  }
}
.bottom-nav__link a :nth-last-child() {
  padding-right: 3.5rem;
  color: var(--green);
}

/*index main*/
.white_background-tip {
  padding: 0 1rem;
  margin: 0 1rem;
  background-image: url(../images/home_background.svg);
  background-repeat: no-repeat;
  background-position: 111% 144%;
}
@media (min-width: 70rem) {
  .white_background-tip {
    display: flex;
  }
}

.home_background-img {
  /* background-image: url(../images/home_background.svg); */
  position: absolute;
  top: 20.6875rem;
  right: 0%;
  bottom: -11%;
  /* object-fit: cover;
  z-index: -1;
  background-repeat: no-repeat;
  width: 38.25rem;
  background-position: 541% 50%; */
}

.text_home-img {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 70rem) {
  .text_home-img p {
    padding-right: 2rem;
  }
}

.text_home-img img {
  max-width: 100%;
  padding: 2rem 0;
}

@media (min-width: 70rem) {
  .text_home-img img {
    padding: 0;
  }
}

.text_home-img p a {
  padding: 2rem 0;
}

.scissors {
  display: none;
}

@media (min-width: 70rem) {
  .scissors {
    display: block;
    width: 22rem;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: 28% -10%;
  }
}

@media (min-width: 70rem) {
  .text_home-img {
    display: flex;
    gap: 49px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
  }
  .text_home-img img {
    width: 90%;
  }
}

.orange-tip-button {
  background-color: var(--information-orange);
  padding: 2rem;
  margin-top: 2rem;
}

@media (min-width: 70rem) {
  .orange-tip-button {
    padding-top: 21rem;
  }
}

@media (min-width: 70rem) {
  .tip-img {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
  }
}

.tip {
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: max-content;
  padding: 0 1rem;
}
.text-tip {
  color: var(--white);
  text-decoration: none;
}

.text-tip p {
  font-size: 0.8rem;
}

.text-arrow {
  display: flex;
}
.text-arrow img {
  padding-left: 1rem;
}

.text-orange-background {
  padding: 1rem 0 0 0;
}

/* @media (min-width: 70rem) {
   .white_background-links{
    display: flex;
    gap: 9rem;
  }
} */

.white_background-links {
  padding: 0 1rem;
  margin: 0 1rem;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.title-subtitle {
  width: 16rem;
  flex-grow: 1;
}

.title-subtitle h3 {
  color: var(--green);
  padding: 2rem 0 1rem 0;
}
.title-subtitle h1 {
  line-height: 2.375rem;
  padding-bottom: 5rem;
}

/* @media (min-width: 70rem) {
  .title-subtitle h1 {
    max-width: 40%;
  }
} */

/* @media (min-width: 30rem) {
  .specificity {
    display: flex;
    justify-content: space-between;
  }
  .specificity-exactly:last-child {
    padding-left: 2rem;
  }
}

@media (min-width: 70rem) {
  .specificity {
    gap: 12rem;
  }
} */
.specificity {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 40rem;
  flex-grow: 1;
  flex-wrap: wrap;
}

.specificity li {
  list-style: none;
  display: flex;
  -webkit-justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 0.0625rem solid var(--bottom-orange);
  padding-bottom: 1rem;
}

.specificity h3 {
  color: var(--information-orange);
  padding-bottom: 1rem;
}

/* .onderhoud {
  padding-top: 1rem;
} */

.specificity a {
  text-decoration: none;
  color: var(--black);
}

.arrow_text {
  display: flex;
  justify-content: left;
  gap: 0;
}

.specificity-exactly {
  flex-grow: 1;
  width: 15rem;
}

.specificity-exactly ul {
  padding: 0;
}

.light-green_background {
  background-color: var(--hover-blue);
  margin-top: 6rem;
}

@media (min-width: 70rem) {
  .light-green-group {
    display: flex;
  }
}

.garden_img {
  padding: 0 2rem;
  position: relative;
  bottom: 2.5rem;
  display: inline-block;
  object-fit: cover;
}

@media (min-width: 70rem) {
  .garden_img img {
    object-fit: cover;
    aspect-ratio: 1/2;
    width: 37rem;
  }
}

.information-text {
  padding: 0 2rem;
}

@media (min-width: 70rem) {
  .information-text {
    margin-top: 6rem;
  }
}

.information-text h4 {
  color: var(--green);
}
.information-text h2 {
  font-size: 2rem;
  line-height: 2.2rem;
  padding: 1rem 0;
}

.light-green-text p {
  padding: 1rem 0;
}

.light-green-links {
  list-style: none;
  padding: 0;
}

.green-links {
  display: flex;
  -webkit-justify-content: space-between;
  margin: 1rem 0;
  border-bottom: 0.0625rem solid var(--bottom-orange);
  padding-bottom: 1rem;
}

.green-links:last-child {
  border-bottom: none;
}

.green-links a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.background-green-text h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.background-green-lists {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  list-style: none;
  padding: 2rem 0;
}

@media (min-width: 70rem) {
  .background-green-lists {
    flex-direction: unset;
    gap: 2rem;
  }
}
.green-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green-lists h3 {
  color: var(--information-orange);
  display: flex;
  justify-content: center;
}

@media (min-width: 70rem) {
  .green-lists {
    width: 15rem;
    display: flex;
    flex-direction: row;
  }
}

.green-symbol {
  padding: 1rem 0;
}

@media (min-width: 70rem) {
  .green-symbol {
    width: 3rem;
    margin: 0 auto;
  }
}

.dark-green_background {
  background-color: var(--dark-green-text);
}

.dark-green-main {
  padding: 0 2rem;
}

.dark-green-main h3 {
  color: var(--white);
  padding: 1.5rem 0 1rem 0;
}

.dark-green-main p {
  color: var(--white);
  padding-bottom: 2rem;
}

.dark-green-main h2 {
  color: var(--information-orange);
  line-height: 2rem;
  font-size: 1.875rem;
  padding-bottom: 1.3rem;
}

.button-information {
  background-color: var(--information-orange);
  width: max-content;
  padding: 0.75rem 1.0625rem;
}
.button-information a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

.dark-green-main img {
  width: 270px;
  height: 350px;
  margin: 0 auto;
  object-fit: cover;
  margin-top: 10rem;
  clip-path: polygon(
    0 0,
    17.25rem 0,
    17.5rem 8.75rem,
    24.0625rem 8.75rem,
    24.0625rem 21.875rem,
    4.375rem 21.875rem,
    4.375rem 17.5rem,
    0 17.5rem
  );
}

.img-with_background {
  background-position: 50% 50%;
  background-image: url(../images/half_circle_background.svg);
  background-size: 17rem;
  padding-bottom: 7rem;
  background-repeat: no-repeat;
  min-height: 595px;
  background-position: 0% 50%;
}

.overlay-title {
  padding: 0 2rem;
}
.overlay-title h2 {
  padding-top: 2rem;
  color: var(--dark-green-text);
  font-size: 2rem;
}

.overlay {
  display: flex;
  width: 100%;
  overflow: scroll;
  flex-wrap: nowrap;
  flex-direction: row;
}

.overlay-detail {
  flex-shrink: 0;
  width: 19rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
}

.overlay-detail img {
  object-fit: cover;
  aspect-ratio: 5/9;
}

.overlay-detail p {
  margin-bottom: 1rem;
  border-bottom: 0.0625rem solid var(--bottom-blue);
  padding: 3rem 0rem 1rem 0;
  font-size: 0.8125rem;
}

.dubble-light-green {
  background-color: var(--hover-blue);
  margin-bottom: -35rem;
  padding-top: 3rem;
}

@media (min-width: 70rem) {
  .light-green-main {
    display: flex;
  }
}

.light-green-main {
  padding: 0 2rem;
  flex-wrap: wrap;
}

.light-green-main h2 {
  color: var(--dark-blue);
  font-size: 2rem;
  padding: 3rem 0 1rem 0;
}

.light-main-text {
  width: 50%;
  flex-grow: 1;
  flex-wrap: wrap;
}

.light-main-text p {
  padding-bottom: 2rem;
}

.light-main-summary {
  width: 50%;
  flex-grow: 1;
  flex-wrap: wrap;
}

.light-main-summary h2 {
  padding-top: 6rem;
}

.orange-symbol-summary {
  padding-bottom: 34rem;
  padding-left: 0;
}

.orange-symbol-summary li {
  /* list-style: url(../images/icoon_orange_boog_symbol.svg);*/
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid var(--bottom-orange);
}

.orange-symbol-summary li:last-child {
  border-bottom: none;
}

.orange-symbol img {
  width: 2.2rem;
  padding-right: 1rem;
}

/* aanleg.html */
.hero-component {
  background-image: url(../images/aanleg_hero-componen.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 41%;
  background-size: cover;
  padding: 3rem 0;
}

.services {
  padding: 0 2rem;
  width: 100%;
  object-fit: cover;
}

.services-block img {
  transition: transform 0.35s;
  object-fit: cover;
  aspect-ratio: 2/1;
}

.services-block img:hover {
  transform: scale(1.1);
  max-width: 100%;
  padding: 0;
}

.services-block {
  overflow: hidden;
}

.services-block h2 {
  font-family: "space-grotesk";
  padding: 2rem 0;
  font-size: 2rem;
  line-height: 2.375rem;
}

.services-block {
  margin: 4rem 0;
}

.services p {
  margin-bottom: 1rem;
}

.page-name {
  background-color: var(--white);
  display: flex;
  position: relative;
  top: 2rem;
  left: 2rem;
  padding: 0.6875rem 0.6875rem;
  width: max-content;
}

.page-name a,
.page-referances a {
  text-decoration: none;
  color: var(--black);
  padding: 0 1rem;
}

.hero-text {
  background-color: var(--white);
  padding: 0rem 1rem 2rem;
  margin: 4rem 1rem 4rem 2rem;
  max-width: 35.3125rem;
}

@media (min-width: 70rem) {
  .hero-text h1 {
    font-size: 4rem;
  }
  .hero-text p {
    font-size: 1.23rem;
  }
}

.hero-text h1 {
  margin-bottom: 2rem;
}

.link-to-contact {
  display: flex;
  margin-bottom: -3rem;
  justify-content: flex-end;
}

.hero-phone-data {
  background-color: var(--hover-blue);
  padding: 1rem 2rem 1rem 1rem;
}

.hero-phone-data h3 {
  font-family: "space-grotesk";
}

.hero-phone {
  display: flex;
}

.hero-phone a {
  color: var(--dark-green-text);
  padding-left: 0.375rem;
}

.white-arrow {
  background-color: var(--arrow-background-green);
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.white-arrow img {
  width: 2rem;
}

.referances {
  width: 100%;
  padding: 0 2rem;
  flex-shrink: 0;
  /* width: 13.5rem; */
  /* height: 100%; */
  max-width: 100%;
  display: flex;
  object-fit: cover;
  padding-top: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* onderhoud.html*/
.hero-component-maintain {
  background-image: url(../images/onderhoud_hero-component.png);
}

/* referenties.html*/

.our-referances {
  padding: 0 2rem;
}

.page-referances {
  background-color: var(--white);
  display: flex;
  position: relative;
  top: 2rem;
  padding: 0.6875rem 0.6875rem;
  width: max-content;
  padding: 0;
}

.reference-first img {
  width: 18rem;
  height: 22rem;
  object-fit: cover;
}

.reference-first p {
  height: 2.8125rem;
  margin-bottom: 2.1875rem;
  padding-top: 0.9375rem;
  border-bottom: 0.0625rem solid var(--bottom-blue);
  font-size: 0.8rem;
}

.referances-text {
  margin-top: 2rem;
}

.referances-text p {
  padding-top: 1rem;
}

.referances-id-text p {
  color: var(--background-light-green);
  font-weight: bold;
}

.referances-id-link {
  display: flex;
  font-family: "space-grotesk";
  padding-top: 1rem;
}

.privé,
.zakelijk,
.openbaar {
  display: flex;
  align-items: center;
  background-color: var(--hover-blue);
  padding: 0.75rem;
  margin-right: 1rem;
}

.privé img,
.zakelijk img,
.openbaar img {
  width: 1.2rem;
}

.privé a,
.zakelijk a,
.openbaar a {
  text-decoration: none;
  color: var(--dark-green-text);
  padding: 0 1rem;
}

/* contact.html*/
.hero-component-contact {
  background-image: url(../images/aanleg_hero-componen.jpeg);
}
.forms {
  background-color: var(--hover-blue);
  padding: 2rem 2rem 24rem 2rem;
  margin-bottom: -23rem;
}
.forms h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.send-form {
  background-color: var(--information-orange);
  width: max-content;
  padding: 0.75rem 1.0625rem;
}
.send-form a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

/* footer */
.container img {
  display: none;
}

@media (min-width: 55.5rem) {
  .container {
    background-image: url(../images/footer_img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    line-height: initial;
    top: 5.5rem;
    background-position-x: right;
    height: 13rem;
  }
}

@media (min-width: 55.5rem) {
  .top-footer__text h3 {
    padding-right: 18rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-light-green);
  padding: 1.5rem;
  margin: 0 2rem;
  position: relative;
  top: 5.5rem;
}

.top-footer__text {
  padding: 0.5625rem 0;
  padding-right: 4rem;
}

@media (min-width: 30rem) {
  .top-footer-contact {
    display: flex;
  }
}

.top-footer__text a {
  padding: 0 0 1rem 0;
  color: var(--white);
}
.top-footer__text h3 {
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
}
.top-footer__text h4 {
  color: var(--subtitle-light-blue);
}
.footer-container {
  background-color: var(--background-dark-green);
  display: flex;
  flex-direction: column;
  padding: 9rem 1.25rem 14.25rem 1.25rem;
}

@media (min-width: 30rem) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 9rem 1.25rem 11.25rem 1.25rem;
    display: flex;
    justify-content: space-between;
  }
}

.footer-logo {
  height: 9.25rem;
  width: 8.25rem;
  margin-right: 6rem;
}

.bottom-footer__text {
  margin: 1rem 1rem 1rem 0;
}

@media (min-width: 30rem) {
  .bottom-footer__text {
    margin-right: 6rem;
  }
}

.bottom-footer__text ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.bottom-footer__text li {
  display: flex;
  flex-direction: row;
}
.bottom-footer__text img {
  margin-right: 0.625rem;
}
.bottom-footer__text h3 {
  color: var(--subtitle-light-blue);
}
.bottom-footer__text a {
  color: var(--white);
}
.bottom-footer__text p {
  color: var(--white);
}
.bottom-footer__text span {
  color: var(--gray-white);
  text-transform: uppercase;
}

.copyright-text {
  color: var(--gray-white);
  padding-top: 1rem;
}
.copyright-text a {
  color: var(--gray-white);
}
